      body {
          margin: 0;
          padding: 0;
          font-family: Arial, Helvetica, sans-serif;
      }

      h1 {
          text-align: center;
          color: white;
          background-color: #382F2D;
          padding: 1em;
          margin-top: 0;
          margin-bottom: -0.5em;
          font-family: Arial, Helvetica, sans-serif;
      }

      h2 {
          text-align: center;
          color: white;
      }

      header > nav {
          text-align: left;
          color: white;

          background-color: #604E48;
          padding: .1em;
          margin-top: 0;
          margin-bottom: -0.5em;
      }

      a:link,
      a:visited,
      a:active {
          color: white;
      }

      .wrapper {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
          grid-auto-rows: minmax(100px, auto);
      }

      .imager {
          grid-column: 1 / 2;
          grid-row: 1;
      }

      .info {
          grid-column: 2 / 2;
          grid-row: 1;
      }

      img {
          max-width: 100%;
          -ms-flex-line-pack: center;
          align-content: center;
      }

      .hikeStyles {
          padding: 0;
          margin: 1em 0;
          list-style-type: none;
      }

      .hikeStyles li > h2 {
          text-align: center;
          background-color: #604E48;
          margin-bottom: 0.5em;
      }